<div id="wrapper" [ngClass]="{'toggled': toggledParent}" (window:resize)="onResize($event)">
    <sidebar [toggledChild]="toggledParent"></sidebar>
    <header-menu
        (notifyToggled)="onNotifyToggle($event)"
        [toggledChild]="toggledParent"
        [regions]="regions"
        [apiVersion]="apiVersion"
        (notifySummonerReq)="onNotifySummonerData($event)"
        (errorNotify)="onErrorNotify($event)"
        (summonerIdNotify)="onSummonerIdNotify($event)"
        (playerSummaryNotify)="onPlayerSummaryNotify($event)">
    </header-menu>
    <div class="container-fluid">


        <summoner-info [apiVersion]="apiVersion"
                       [info]="info"
                       [error]="error"
                       [playerSummary]="playerSummary">
        </summoner-info>


        <tabs>
            <div class="row">
                <tab [tabTitle]="'OVERVIEW'">
                    <overview></overview>
                </tab>

                <tab [tabTitle]="'MATCH HISTORY'">
                    <match-history></match-history>
                </tab>

                <tab [tabTitle]="'CHAMPION STATISTICS'">
                    <champion-statistics></champion-statistics>
                </tab>

                <tab [tabTitle]="'ROLE STATISTICS'">
                    <role-statistics></role-statistics>
                </tab>
            </div>
        </tabs>



    </div><!--container-fluid-->
</div>
