<div class="appWrapper" id="wrapper" [ngClass]="{'toggled': toggledParent}" (window:resize)="onResize($event)">
<ng2-slim-loading-bar [color]="'#f1c40f'" [height]="'2px'"></ng2-slim-loading-bar>

    <div class="bgWrapper">
        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/MissFortune_8.jpg">
    </div>

    <sidebar [toggledChild]="toggledParent"></sidebar>

    <header-menu
        (notifyToggled)="onNotifyToggle($event)"
        [toggledChild]="toggledParent"
        [dataObject]="dataService"
        (findSummonerNotify)="onFindSummonerNotify($event)"
        (headerInitNotify)="onNotifyHeaderInit($event)">
    </header-menu>

    <div class="container-fluid">

        <summoner-info [dataObject]="dataService"></summoner-info>

        <tabs>
            <div class="row">
                <tab [tabTitle]="'OVERVIEW'">
                    <overview></overview>
                </tab>

                <tab [tabTitle]="'MATCH HISTORY'">
                    <match-history></match-history>
                </tab>

                <tab [tabTitle]="'CHAMPION STATISTICS'">
                    <champion-statistics></champion-statistics>
                </tab>

                <tab [tabTitle]="'ROLE STATISTICS'">
                    <role-statistics></role-statistics>
                </tab>
            </div>
        </tabs>


    </div><!--container-fluid-->

</div>
