<form (submit)="findSummoner($event)">
    <div *ngIf="errorValidate">{{errorValidate}}</div>
    <input type="text" [(ngModel)]="summoner" name="summoner" placeholder="Enter summoner name...">
    <select name="region" [(ngModel)]="region">
        <option *ngFor="let region of regions" value="{{region.slug}}">{{region.name}}</option>
    </select>
    <input type="submit" value="find" />
</form>

<div *ngIf="info && apiVersion">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="background: red">
            <div>
                name: {{info.name}}<br>
                summonerLevel: {{info.summonerLevel}}<br>
                profileIconId: <img src="http://ddragon.leagueoflegends.com/cdn/{{apiVersion}}/img/profileicon/{{info.profileIconId}}.png"><br>
                revisionDate: {{info.revisionDate}}<br>
                id: {{info.id}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="background: green">
            <div>rank picture goes here...</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="background: black">
            <div>other info</div>
        </div>
    </div>
</div>

<div *ngIf="error">
    <div class="row">
        <div class="col-lg-12">{{error.error}}</div>
    </div>
</div>
