<div id="header-content-wrapper" class="as-header-wrapper">
    <div class="headerWrapper">
        <div id="header" class="row">
            <div class="col-md-12">
                <div class="toggle_menu" id="menu-toggle" (click)="onToggleClick()"></div>
                <form (submit)="findSummoner($event)">
                    <div *ngIf="errorValidate">{{errorValidate}}</div>
                    <input type="text" [(ngModel)]="summoner" name="summoner" placeholder="Enter summoner name...">
                    <select name="region" [(ngModel)]="region">
                        <option *ngFor="let region of dataService.data.game.regions" value="{{region.slug}}">{{region.name}}</option>
                    </select>


                    <input type="submit" value="find" />
                </form>
            </div>
        </div>
    </div>
</div>
