<div *ngIf="dataObject.data.errorFind">
    <div class="row">
        <div class="col-lg-12">{{dataObject.data.errorFind}}</div>
    </div>
</div>
<div *ngIf="dataObject.data.player.name && dataObject.data.game.apiVersion">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
            <div *ngIf="dataObject.data.player.name">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                        <div class="l-summoner-base">
                            <div class="l-icon">
                                <img src="http://ddragon.leagueoflegends.com/cdn/{{dataObject.data.game.apiVersion}}/img/profileicon/{{utilsService.negativeInPositive(dataObject.data.player.profileIconId)}}.png">
                            </div>
                            <div class="l-summoner">
                                <div class="l-name">{{dataObject.data.player.name}}</div>
                                <div class="l-level">Level {{dataObject.data.player.summonerLevel}} Summoner</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                        <div class="l-summoner-w-l">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="l-games l-total"><span>91</span> Games</div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="l-games l-wins"><span>71</span> Wins</div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="l-games l-losses"><span>20</span> Losses</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <br><br>
                <div *ngIf="dataObject.data.playerSummary.length">
                    <div *ngFor="let item of dataObject.data.playerSummary"><div *ngIf="item.wins > 0">{{item.playerStatSummaryType}} | wins: {{item.wins}}</div></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <div *ngIf="!dataObject.data.leagueEntryData.error">
                <div *ngIf="dataObject.data.leagueEntryData">
                    {{dataObject.data.leagueEntryData.tier}}
                    <span *ngIf="dataObject.data.leagueEntryData.entries[0]">
                        {{dataObject.data.leagueEntryData.entries[0].division}} - {{dataObject.data.leagueEntryData.entries[0].leaguePoints}} lp<br>
                        <img src="../../resources/img/tier/{{dataObject.data.leagueEntryData.tier}}_{{dataObject.data.leagueEntryData.entries[0].division}}.png">
                    </span>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div>other info</div>
        </div>
    </div>
</div>
