<div *ngIf="dataObject.data.errorFind">
    <div class="row">
        <div class="col-lg-12">{{dataObject.data.errorFind}}</div>
    </div>
</div>
<div *ngIf="dataObject.data.game.apiVersion && dataObject.data.player.name">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="background: red">
            <div>
                name: {{dataObject.data.player.name}}<br>
                summonerLevel: {{dataObject.data.player.summonerLevel}}<br>
                profileIconId: <img src="http://ddragon.leagueoflegends.com/cdn/{{dataObject.data.game.apiVersion}}/img/profileicon/{{dataObject.data.player.profileIconId}}.png"><br>

                <div *ngIf="dataObject.data.playerSummary.length">
                <div *ngFor="let item of dataObject.data.playerSummary">{{item.playerStatSummaryType}} | wins: {{item.wins}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="background: green">
            <div>rank picture goes here...</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="background: black">
            <div>other info</div>
        </div>
    </div>
</div>
